body {
  font-family: Arial, sans-serif;
}

     
 .title{
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }

  span {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: showText 1s forwards;
  }
  
  @keyframes showText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #W { color: #79b851; animation-delay: 0.5s; }
  #o { color: #f3c237; animation-delay: 1s; }
  #r { color: #a4aec4; animation-delay: 1.5s; }
  #d { color: #79b851; animation-delay: 2s; }
  #l { color: #a4aec4;animation-delay: 2.5s; }
  #e { color: #f3c237; animation-delay: 3s; }
  #P { color: #a4aec4;animation-delay: 3.5s; }
  #P2 {color: #79b851; animation-delay: 4s; }
  #Y { color: #f3c237; animation-delay: 4.5s; }
  
  #intentos{
    font-size: 10px;
  }

  #game-over {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a4aec4;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra al div */
    border-radius: 10px;
    color: white;
}

#win-game{
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #79b851;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra al div */
    border-radius: 10px;
    color: white;
}

#palabra{
    font-size: 20px;
}


#grid{
    margin-top: 15px;
    text-align: center;
    padding: 10px;

}